@media (max-width: 500px) {
  .strong-title {
    font-size: 1.2rem;
  }

  #main-header,
  #menu-header {
    #main-nav {
      height: $navbar-height-media;
      padding: 0.5rem;

      .container {
        width: 100%;
        // flex-direction: column;
        // justify-content: center;
        align-items: center;

        .logo {
          width: 120px;
        }

        ul {
          flex-direction: column;
          // justify-content: end;
          align-items: flex-end;
          li {
            display: none;
          }
          li[class="expandItem"] {
            display: inline-block;
          }
        }
      }
    }

    .header-content {
      h1 {
        font-size: 2rem;
      }
      .btn {
        padding: 0.5rem 1rem;
      }
    }
  }

  #main-main {
    .home-a .about {
      grid-template-areas:
        "title"
        "line"
        "card-img"
        "card-txt";
    }
  }

  #main-main {
    .home-a {
      .about img {
        width: 150px;
        height: 150px;
      }

      .contact-wraper {
        flex-direction: column;

        .item {
          border: none;
          // border-right: 2px transparent rgba(204, 204, 204, 0);
          border-bottom: 2px solid #ccc;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  /* ------ Menu Page ------- */

  .navbar-spacer {
    height: 30px;
  }

  #menu-main .menu-a .menu-summary {
    border: none;
    padding: 0.5rem;
    margin: 2.5rem 0 0.5rem 0;

    li a {
      font-size: 1rem;
      padding: 0.3rem;
      // color: red;
    }
  }

  #menu-main .menu-section {
    padding: 0.3rem;
  }

  .menuItens-wraper {
    grid-template-columns: 1fr;
    gap: 0;

    .menuItem-card {
      background-color: $color-bg;
      flex-direction: row;
      grid-template-columns: 100px 200px;
      border: none;
      padding: 0.5rem;
      border-bottom: 1px dashed #ccc;

      &:last-child {
        border-bottom: none;
      }

      img {
        // grid-area: img;
        width: 110px;
        height: 110px;
      }

      .card-wraper {
        padding: 0.5rem;
        margin-left: 1rem;
        .card-info {
          // grid-area: info;
          h3 {
            font-size: 1rem;
          }
          p {
            font-size: 1rem;
          }
        }

        .card-actions {
          // grid-area: action;
          // flex-direction: column;
          font-size: 0.6rem;
          padding: 0;
          gap: 1rem;

          button {
            padding: 0.2rem 0.5rem;
            // line-height: 1;
          }
        }
      }
    }
  }

  #footer {
    height: 50px;
    p {
      font-size: 0.7rem;
    }
  }
}
