$color-primary: rgb(53, 31, 17);
$color-secondary: rgb(199, 82, 5);
$color-dark: #222;
$color-light: #fff;

$container-width: 1280px;
$navbar-height: 80px;

// effects
$smoke1-pos-ini-y: 80px;
$smoke1-pos-ini-x: 50%;
$smoke2-pos-ini-y: 20px;
$smoke2-pos-ini-x: 20%;
$smoke3-pos-ini-y: 120px;
$smoke3-pos-ini-x: 60%;
$smoke4-pos-ini-y: 140px;
$smoke4-pos-ini-x: 80%;
