
.icon-pizza:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-navMenu:before { content: '\f0c9'; } /* '' */
.icon-cardapio1:before { content: '\f278'; } /* '' */
.icon-cardapio2:before { content: '\f279'; } /* '' */