<link rel="stylesheet" href="css/adm-page.css">
<div class="container">
    <h1 class="header-form">Dashboard Login</h1>
    <% if (messages.error) { %>
      <%= messages.error %>
    <% } %>
    <form class="container-form" action="/login" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
</div>